<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Registro de Soportes</title>
        <link rel="stylesheet" href="styles/mdb.min.css">
        <link rel="stylesheet" href="styles/bootstrap.css">
        <link rel="stylesheet" href="styles/main.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles/semantic.css">
        <link rel="stylesheet" href="/styles/nprogress.css">
        <script src="js/Librerias/jquery-3.3.1.min.js"></script>
        <script src="js/Librerias/bootstrap.js"></script>
        <script src="js/Librerias/mdb.js"></script>
        <script src="js/Librerias/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <script src="js/Librerias/semantic.js"></script>
        <script src="js/Librerias/nprogress.js"></script>
    </head>
    <body class="grey lighten-4 container-main body">